@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <p><strong>Your test objectives are:</strong></p>
    <ol>
        <li>Use the bootstrap framework to create a currency calculator form as per example below</li>
        <li>Use the exchange rate API below to convert many of the world currencies</li>
    </ol>

    <p><code>https://api.exchangerate-api.com/v4/latest/USD</code></p>
    <hr />
    <p><strong>Your final solution should match the screenshot below:</strong></p>
    <img src="https://media.cheggcdn.com/media/5cd/s707x251/5cd96b02-8279-4c33-be61-667bd5248f25/phpvAcCAj.png" />
    <p class="mt-3">Happy Coding!</p>
</div>
