@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <p><strong>Your test objectives are:</strong></p>
    <ul>
        <li>To demonstrate that you can work through the requirement and find a solution to solve the issues.</li>
        <li>To demonstrate your understanding of Object-Oriented Programming (OOP) principles.</li>
        <li>To demonstrate your understanding of Test-Driven Development.</li>
        <li>To demonstrate your understanding of SOLID principles.</li>
    </ul>
    
    <p>Url: <code>https://v6.exchangerate-api.com/v6/latest/USD</code></p>
    <p>API Key: <code>286ee1c05333b612213461ba</code></p>
    <p>Example Request: <code>https://v6.exchangerate-api.com/v6/286ee1c05333b612213461ba/latest/USD</code></p>
    <hr />
    <p><strong>The layout of your final solution should match the screenshot below:</strong></p>
    <img src="https://media.cheggcdn.com/media/5cd/s707x251/5cd96b02-8279-4c33-be61-667bd5248f25/phpvAcCAj.png" />
    <p class="mt-3">Happy Coding!</p>
</div>
